.text-primary {
  color: var(--color-text-primary);
}
.text-secondary {
  color: var(--color-text-secondary);
}
.text-error {
  color: var(--color-error);
}

.text-xs {
  font-size: var(--font-size-xs);
}
.text-sm {
  font-size: var(--font-size-sm);
}
.text-base {
  font-size: var(--font-size-base);
}
.text-lg {
  font-size: var(--font-size-lg);
}
.text-xl {
  font-size: var(--font-size-xl);
}
.text-2xl {
  font-size: var(--font-size-2xl);
}

.text-ligth {
  font-weight: var(--font-weight-light);
}
.text-regular {
  font-weight: var(--font-weight-regular);
}
.text-medium {
  font-weight: var(--font-weight-medium);
}
.text-semibold {
  font-weight: var(--font-weight-semibold);
}
.text-bold {
  font-weight: var(--font-weight-bold);
}
.text-extra-bold {
  font-weight: var(--font-weight-extrabold);
}


@media (min-width: 1024px) {
  .text-xs {
  font-size: var(--font-size-sm);
}
.text-sm {
  font-size: var(--font-size-base);
}
.text-base {
  font-size: var(--font-size-lg);
}
.text-lg {
  font-size: var(--font-size-xl);
}
.text-xl {
  font-size: var(--font-size-2xl);
}
.text-2xl {
  font-size: var(--font-size-3xl);
}
}
