:root {
  /* Surface Colors*/
  --color-surface-primary: #FFFFFF;
  --color-surface-bg: #F8F8F8;
  --color-surface-bg-secondary: #F9F9F9;
  --color-outline: #D8DCE3;

  /* Brand Colors */ 
  --color-brand-primary: #0056BD;
  --color-brand-outline: #308EFF;
  --color-brand-container: #94C5FF;
  --color-brand-bg: #DBECFF;

  /* Text Colors*/
  --color-text-primary: #272727;
  --color-text-secondary: #858585;
  --color-text-disabled: #BDBDBD;
  --color-text-inverse: #FFFFFF;

  /* Icon Colors */
  --color-icon-primary: #272727;
  --color-icon-secondary: #858585;

  /* Feedback Colors */
  --color-warning: #F2A000;
  --color-success: #23CF5F;
  --color-error: #D7433B;

  /* Border Radius */
  --border-radius-small: 8px;

  /* Font Weights */
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  /* Font Sizes (12px → 24px) */
  --font-size-xs: 0.75rem;   /* 12px */
  --font-size-sm: 0.875rem;  /* 14px */
  --font-size-base: 1rem;    /* 16px */
  --font-size-lg: 1.125rem;  /* 18px */
  --font-size-xl: 1.25rem;   /* 20px */
  --font-size-2xl: 1.5rem;   /* 24px */
  --font-size-3xl: 1.75rem;  /* 28px */
  --font-size-4xl: 2rem;     /* 32px */

}