.content {
  padding: 20px 26px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.login-page {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  min-width: 320px;
}

.login-page__hero__image {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.login-page__subheadline {
  margin-top: 10px;
}

.login-page__form {
  width: 100%;
  padding-top: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-form__fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-page__divider {
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.login-page__divider-line {
  width: 50%;
  height: 1px;
  background-color: var(--color-outline);
}

.login-page__divider-text {
  color: var(--color-text-secondary);
}

.login-form__google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
}

.login-form__google-icon {
  width: 22px;
  height: 22px;
}

.login-page__footer {
  padding-top: 40px;
  text-align: center;
  font-size: var(--font-size-base);
}

.login-page__footer__text {
  color: var(--color-text-primary);
}

.login-page__footer__link {
  color: var(--color-brand-primary);
  font-weight: var(--font-weight-semibold);
}

@media (min-width: 640px) {
  .login-page {
    margin-top: 100px;
  }
  .login-page__hero__image {
    display: none;
  }
}
