.content {
  padding: 20px 26px;
  display: flex;
  justify-content: center;
}

.registration {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  min-width: 320px;
}

.registration form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.registration-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.registration-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.registration-section__field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.map-container {
  .map-wrapper {
    height: 350px;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
}

/* Avatar Styles */
.avatar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.avatar-icon {
  width: 80px;
  height: 80px;
  background-color: #DBECFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #0056BD;
}