.contenedor {
  padding: 20px 26px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.verify-otp {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 360px;
  min-width: 360px;
}

.verify-otp__fields {
  display: flex;
  gap: 10px;
}

.verify-otp__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.verify-otp__text-error {
  margin-top: -15px;
}

.resend-otp {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.verify-otp__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 25px;
  height: 25px;
}

@media (min-width: 640px) {
  .verify-otp {
    margin-top: 100px;
  }
}
