.home-container { 
  width: 100%;
  min-height: 100vh;
}

.hero-section {
  width: 100%;
  min-height: 80vh;
  background-image: url("../../assets/images/background-project/image.webp");
  background-size: cover;
  background-position: initial;
}

.hero-layout {
  padding: 26px 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.hero-banner {
  margin-top: 32px;
  text-align: center;
}

.hero-banner>p {
  margin-top: 15px;
}

.hero-title {
  font-size: 48px;
  font-weight: var(--font-weight-extrabold);
  line-height: 1;
  color: var(--color-text-primary);
  text-align: center;
}

.hero-search {
  width: 100%;
  text-align: center;
}

.hero-search>p {
  margin-top: 10px;
}

.features-section {
  background-color: var(--color-surface-bg);
  padding: 100px 26px 80px 26px;
}

.feature-section__title {
  font-size: var(--font-size-5xl);
  color: var(--color-text-primary);
  font-weight: var(--font-weight-extrabold);
  width: 80%;
}

.feature-section__description {
  margin-top: 10px;
  font-size: var(--font-size-lg);
  color: var(--color-text-secondary);
}

.features-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.features-card {
  width: 100%;
  height: 200px;
  padding: 26px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: var(--border-radius-large);
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: box-shadow 200ms ease-in-out;
}

.features-card:hover {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1)
}

/* .card-icon {
  width: 55px;
  height: 55px;
  background-color: var(--color-brand-bg);
  display: inline-block;
  border-radius: var(--border-radius-medium);
  display: flex;
  align-items: center;
  justify-content: center;
} */