.content {
  padding: 20px 26px;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.club-status-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  max-width: 380px;
  min-width: 320px;
}

.club-status__icon {
  width: 100px;
  height: 100px;
}

@media (min-width: 640px) {
  .club-status-layout {
    margin-top: 100px;
  }
}
