.court-card {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 14px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.court-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.court-status.available,
.court-status.unavailable {
  font-weight: bold;
  font-size: 16px;
}

.court-status.available {
  color: #40a040;
}

.court-status.unavailable {
  color: #d7433b;
}

.court-info {
  font-size: 14px;
  color: #555;
}

.court-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  /*  flex-wrap: wrap; probar para responsive */
}

.court-actions {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 15px;
}

.edit-btn,
.delete-btn {
  border: none;
  background: none;
  cursor: pointer;
  transition: color 0.2s;
  color: #d7433b;
  display: flex;
}
.delete-btn {
  color: #d7433b;
}
.edit-btn {
  color: #0056bd;
}

.edit-btn:hover {
  color: blue;
}
.delete-btn:hover {
  color: red;
}

.my-swal-popup {
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
}

.my-confirm-btn,
.my-cancel-btn {
  padding: 0.6em 1.2em;
  font-size: 1rem;
}

@media (max-width: 480px) {
  .my-swal-popup {
    font-size: 0.9rem;
  }

  .court-header,
  .court-status.available,
  .court-status.unavailable {
    font-size: 14px;
  }
  .court-info {
    font-size: 12px;
  }
}
